@charset "UTF-8";
.side_nav_area{width: 20%;position: fixed;z-index: 1000;padding: 15px 25px;height: 100vh;background: rgba(255, 255, 255, 0.09);box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);backdrop-filter: blur(9.4px);-webkit-backdrop-filter: blur(9.4px);border: 1px solid rgba(255, 255, 255, 0.58);}
.content{margin:63px auto 50px;display: table;}
.content a {color: #fff;font-size: 4em;display: inline-block;}
.content a:nth-child(1) {color: transparent;-webkit-text-stroke: 3px #333;}
.content a:nth-child(2) {color: #fff;animation: animate 4s ease-in-out infinite;}
@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}
.side_nav_area>ul{text-align: center;}
.side_nav_area>ul li{margin: 10px;}
.side_nav_area hr{width: 30%;background-color: peachpuff;}
.side_nav_area .copyright p{text-align: center;margin-top: 20px;}
.side_nav_area .copyright p{text-align: center;margin-top: 20px;}
.side_nav_area li a{color: #333;display: inline-block;padding: 10px;font-weight: bold;width: 150px;height: 30px;text-align: center;line-height: 30px;position: relative;}
.side_nav_area li a::after{content: '';position: absolute;left: 5px;width: 150px;height: 2px;background: #3d3d3d;color: #cc9872;transform: scaleX(0);transition: all .5s;transform-origin: left;bottom: 0;}
ul li.active a::after,ul li a:hover::after{transform: scaleX(1);}

.main{width: 100%;}

.main_visual_area{width: 100vw;background-color: #fff9f7 !important;height: auto;}
.main_visual_area>.inner{display: flex;align-items: flex-end;}
.box{width: 50%;}
header{width: 100%;}

.main_info .img_area{position: relative;width: 500px;}
.main_info .img_area img{width: 100%;}
.main_info .img_area img::after{content: '';background-color: transparent;position: absolute;}
.main_info .title_area{height: 780px;position: relative;bottom: 0;width: 100%;}
.main_info .title_area .text{position: absolute;bottom: 50%;transform: translateY(50%);}
.main_info .title_area .typing_txt{display: none;}
.main_info .title_area .typing_txt .name{font-size: 3rem;}
.typing_container {height: 81px;background-color: #fff9f7;color: #89B3A9;display: flex;align-items: center;font-size: 7rem;}
.Change:after {content: "|";margin-left: 5px;animation: blink 1s ease 0s normal infinite;color: #F7FFFD;}
@keyframes blink {
    0%,
    100% {
      color: #FFF9F7;
    }
    50% {
      color: transparent;
    }
}
.main_info .txt_box .slogun{font-size: 2.4rem;color: #666;margin-bottom: 51px;}
.main_info .txt_box .slogun>p span{color: transparent;font-weight: bold;font-size: 6vmin;line-height: 9vmin;background: conic-gradient(#FFF9F7 12%, #89B3A9 12%,#89B3A9 33%,#F7FFFD 33%,#B3A19B 55%,#B3A19B 55%,#B3A19B 70%,#89B3A9 70%,#FFF9F7 87%,#F7FFFD 87%);background-size: 50%;background-clip: text;  -webkit-background-clip: text;animation: expand-rev 0.5s ease forwards;cursor: pointer;}
.main_info .txt_box .slogun>p span:hover {animation: expand 0.5s ease forwards;}
@keyframes expand {
  0% {
    background-size: 25%;
    background-position: 0 0;
  }
  20% {
    background-size: 50%;
    background-position: 0 1em;
  }
  100% {
    background-size: 400%;
    background-position: -10em -4em;
  }
}
  
@keyframes expand-rev {
  0% {
    background-size: 40%;
    background-position: -10em -4em;
  }
  20% {
    background-size: 50%;
    background-position: 0 1em;
  }
  100% {
    background-size: 25%;
    background-position: 0 0;
  }
}
.main_info .title_area h2{font-size: 3rem;}

.btn_wrap{padding-top: 50px;}
.btn{background: #fff;box-shadow: 5px 2px 11px #bdbdbd;margin-right:20px;padding: 18px;display: inline-block;transition: all .3s; font-weight: 600;font-size: 1rem;}
.btn:hover{background-color: #b3a19b;box-shadow: 0px 15px 20px rgba(179, 161, 155,.5);color: #fff;transform: scale(1.1);}

.info_area p i{margin: 5px;}
.container {margin: auto;width: 100%;overflow: hidden;}
.section{width: 100%;background-color: #FFF9F7;position: relative;height: 100vh;}
.portfolio{display:flex;}

.section.about_me_area{background-color: #fff;}
.about_me{height: 40vh;font-size: 1.125rem; line-height: 2;}
.about_me_area .profile .about_me_tit{display: flex;align-items: center;padding-top: 50px;}
.about_me_area .profile .about_me_line{content: '';width: 68px;height: 4px;border-radius: 40px;background-color: #89B3A9;margin-right: 18px;}
.about_me_area .profile h2{font-size: 1.5rem;}
.about_me_area .profile .about_me_content{font-size: 1.2rem;}
.about_me_area .profile_info{margin-top: 44px;width: 90%;}
.about_me_area .profile_info li{width: 429px;}
.about_me_area .profile_info li:last-child a span{color: #89B3A9;}
.about_me_area .profile_info li>a{color: #333;}
.about_me_area .profile_info li>i{padding: 5px;}

.about_me_area .education_area{background: #b3a19b;color: #fff;height: 60vh;}
.about_me_area .education_area>.inner{display: flex;padding-top: 30px;}
.about_me_area .box{margin-top: 50px;}
.about_me_area .education_area h4{color: #fff;padding-top: 10px;font-weight: 600;font-size: 1.25rem;}
.about_me_area .education_area h4::after{content: '';display: block;width: 90%;height: 2px;border-radius: 30px;background: #fff;margin-top: 10px;}
.about_me_area .education_area .edu_content{margin-top: 10px;font-size: 1.2rem;}
.education_area .education .edu{margin: 10px auto;font-weight: normal;}
.education_area .education .edu h5{margin-top: 50px;font-weight: normal;font-size: 1.125rem;}
.education_area .education .edu p{margin-top: 10px;}
.education_area .education .edu .txt_box{margin-top: 20px; font-size: 1rem;}
.about_arabout_me_areaea .education_area .education li{line-height: 20px;color: #fff;}
.education_area .prg_area ul{margin-top: 28px;display: flex;}
.education_area .prg_area ul li{margin-right: 20px;width: 32px;height: 32px;background-repeat: no-repeat;}
.education_area .prg_area .ps{background-image: url(../images/free-icon-photoshop.png);}
.education_area .prg_area .ill{background-image: url(../images/free-icon-illustrator.png);}
.education_area .prg_area .git{background-image: url(../images/github.png);}
.education_area .prg_area .html{background-image: url(../images/html.png);}
.education_area .prg_area .css{background-image: url(../images/css.png);}
.skills_area {margin-top: 30px;}
.skills_area ul{display: flex;flex-wrap: wrap}
.skills_area ul li{margin-right: 46px;margin-top: 27px;}
.skills_area ul li p{text-align: center;margin-top: 14px;font-size: 1rem;}
.about_me_area .education_box{width: 60%;}
.about_me_area .education_area .edu_tit::after{content: '';display: block;width: 80%;height: 2px;border-radius: 30px;background: #fff;margin-top: 10px;}
.skills_box{width: 40%;}
.skills_box .skills_area .skills_tit::after,.education_area .prg_area .prg_tit::after{content: '';display: block;width: 100%;height: 2px;border-radius: 30px;background: #fff;margin-top: 10px;}
.about_me_area .education_area .edu_content{margin-top: 10px;font-size: 1.2rem;}
.education_area .education_box .edu{margin: 10px auto;font-weight: normal;}
.education_area .education_box .edu h5{margin-top: 50px;font-size: 1rem;font-weight: normal;}
.education_area .education_box .edu p{margin-top: 10px;font-size: 1rem;}
.education_area .education_box .edu .txt_box{margin-top: 20px;font-family: 'GmarketSansLight';}
.about_arabout_me_areaea .education_area .education li{line-height: 20px;color: #fff;}
.skills_box .skills_area .skills_tit{padding-top: 10px;}
.about_me_area .skills_area .skills_content{font-size: 1rem;}
@keyframes growProgressBar {
    0%, 33% { --pgPercentage: 0; }
    100% { --pgPercentage: var(--value); }
}
@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}
div[role="progressbar"] {
  --size: 5rem;
  --fg: #ead2be;
  --bg: #f8f2ed;
  --fc: #cc9872;
  --pgPercentage: var(--value);
  animation: growProgressBar 4s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: 
    radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
    ;
  font-size: 1rem;
  color: var(--fc);
}
div[role="progressbar"]::before {counter-reset: percentage var(--value);content: counter(percentage) '%';}

/* project1 */

.portfolio.project1, .project3,.project5{padding:0; min-height:100vh;position: relative;}
.pro_area{font-weight: 800;font-style: oblique;padding-top: 100px;}
.pro_area .pro_area_line{position: relative;left: 85px;font-size: .9rem;}
.pro_area .pro_area_line::before{content: '';width: 68px;height: 4px;border-radius: 40px;background-color: #89b3a9;margin-right: 18px;position: absolute;left: -81px;top: 4px;}
.pro_area .pro_title{color: #89b3a9;font-size: 1.5rem;margin-top: 10px;}
.left {position: absolute;transform: translateX(-100%);opacity: 0;transition: all 2s ease-in-out;width: 60%;left: 0;}
.left.in{transform: translateX(30vw);opacity: 1;}
.mockup{width: 550px;height: 442px;position: relative;top: 227px;}
.mockup .computer{position: absolute;width:100%;}
.mockup a.hidden{display:block; width: 521px; height: 293px; position: absolute; overflow: hidden;top: 14px;left: 15px;}
.hidden img{position:relative; width:100%;}
.mockup_m{width: 142px;position: relative;left: 462px;top: -19px;}
.mockup_m .iphone{position: absolute;width:100%;}
.mockup_m a.hidden{display:block; width: 123px; height: 267px; position: absolute; overflow: hidden;top: 6px;left:8px;border-radius: 20px;}

/* 우측 프로젝트info */
.project_info{position: relative;}
.project_info>*{display: block;font-size:1.2vw;transition: all 1s;}
.right{position: relative;left: 850px;top: 243px;width: 40%;max-width: 653px;}
.right .project_info .tit{font-size: 1.5rem;font-weight: bold;}
.right .epilog{font-size: 1rem;margin-top: 16px;border-radius: 10px;line-height: 25px;width: 100%;}
.right .epilog .term{margin-top: 25px;}

.term_area{margin-top: 30px;font-size: 1rem;line-height: 1.5;}
.term_area .term_title{font-weight: bold;}
.epilog .term_area{margin-top: 30px;}
.epilog .term_area .term_title{font-weight: bold;}
.epilog .program_area .program_title{font-weight: bold;}
.project3 .mockup_m{width: 139px;}

.project5 .left .mockup_m{width: 297px;left: -15px;top: 137px;}
.project5 .left .mockup_m div.hidden{display: block;width: 257px;height: 557px;position: absolute;overflow: hidden;top: 14px;left: 19px;border-radius: 24px;}
.project5 .left .mockup_m div.hidden iframe{width: 100%;height: 605px;}
.project5 .left .mockup_m_1 img{width: 290px;position: relative;top: 138px;left: 325px;}
.contact_area .contact_top{background: #fff;height: 60vh;}
.contact_area .contact_top .contents_box{display: flex;padding-top: 50px;}
.contact_area .contact_content{width: 530px;height: 150px;padding: 6px;line-height: normal;font-size: 1.125rem;margin-right: 118px;line-height: 1.8;}
.contact_area .contact_info{border: 2px solid #cc9872;padding: 57px;font-size: 1.125rem;}
.contact_area .contact_bottom{height: 30vh;background: #b3a19b;font-size: 1.125rem;color: #fff;padding: 50px 0;}
.contact_area .contact_bottom .top{display: flex; line-height: 1.8;}
.contact_area .contact_bottom .info{width: 40%;}
.contact_area .contact_bottom li a{color: #fff;display: inline-block; vertical-align: middle;text-align: center;}
.contact_area .contact_bottom .sns_area li a{padding: 10px;}
.contact_area .contact_bottom .useful_link li i{margin-right: 10px;vertical-align: middle;}
.contact_area .contact_bottom .sns_area li a i{color: #fff;margin: 14px 22px 0 0;}
@media screen and (max-width:1199px){
    .side_nav_area{width: 17%;}
    .inner{margin-left: 29%;}
    .main_visual_area {display: block;position: relative;}
    .main_visual_area .main_info .img_area{width: 85%;}
    .main_visual_area .main_info .txt_box{position: absolute;background-color: rgba(255, 249, 247,.8);height: 346px;top: 261px;right: 40px;width: 37%;padding: 24px;}
    .main_visual_area .main_info .txt_box .title_area{height: 346px;}
    .about_me_area .profile .about_me_tit{padding-top: 21px;}
    .education_area .box{width: 35%;margin-top: 2%;}
    .education_area .education .edu h5{margin-top: 7%;}
    .education_area .education .edu .txt_box{width: 90%;line-height: 1.2;}
    .pro_area{padding-top: 5%;}
    .mockup{width: 500px;top: 50px;}
    .mockup a.hidden{width: 476px;height: 265px;top: 14px;left: 13px;}
    .left{left:10%;}
    .right{left: 50px;top: 420px;width: 100%;display: inline-block;}
    .term_area_wrap{display: flex;align-items: center;}
    .term_area_wrap .btn_wrap{padding-top: 30px;}
    .contact_area .contact_content {margin-right: 0px;width: 500px;}
}